<mat-toolbar color="primary">
  <button mat-button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>{{title}}</span>
  <span class="example-fill-remaining-space"></span>
  <span>user details</span>
</mat-toolbar>

<mat-sidenav-container class="example-container" >
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened" >
    <mat-nav-list>
        <a mat-list-item href="#"> Schools </a>
        <a mat-list-item href="#"> Lessons </a>
        <a mat-list-item href="#"> Teachers </a>
        <a mat-list-item href="#"> Students </a>
     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="position:relative; max-height:100%;">
      <main>
          <app-school-list></app-school-list>
      </main>
      <footer color="primary">
        here is the footer
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

